@font-face {
    font-family: 'Amaranth';
    src: url('fonts/Amaranth-webfont.eot');
    src: url('fonts/Amaranth-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Amaranth-webfont.woff') format('woff'),
         url('fonts/Amaranth-webfont.ttf') format('truetype'),
         url('fonts/Amaranth-webfont.svg#AmaranthRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

::selection {
	background-color: rgb(242, 135, 5);
	background-color: rgba(242, 135, 5, 1);
	color: rgb(242, 242, 242);
}

body {
	background-color: rgb(138, 140, 132);
	background-color: rgba(138, 140, 132, 1);
	font-family: 'Amaranth', Helvetica, sans-serif;
	font-weight: 300;
	color: rgb(38, 38, 34);
	color: rgba(38, 38, 34, 1);
}

*{
	margin: 0px;
	padding: 0px;
}

header {
	margin: 30px auto;
	width: 1000px;
	height: 100px;
}

header section#introduction h1 {
	text-align: center;
	font-size: 4em;
	text-shadow: 1px 1px 1px #70736A, 2px 2px 2px #70736A;
}

footer {

}

mark {
	color: rgb(242, 135, 5);
	color: rgba(242, 135, 5, 1);
	background-color: transparent;
	text-shadow: 1px 1px 1px #70736A, 2px 2px 2px #70736A;
}

section {
	width: 100%;
	height: 200px;
	border-color: #FFFFFF;
}

section.highlight {
	background-color: rgb(112, 115, 106);
	background-color: rgba(112, 115, 106, 1);
	color: rgb(1, 28, 38);`
}

section#navigation {
	border-top-color: rgb(38, 38, 34);
	border-top-color: rgba(38, 38, 34, 0.1);
	border-top-style: solid;
	border-top-width: 1px;

	border-bottom-color: rgb(38, 38, 34);
	border-bottom-color: rgba(38, 38, 34, 0.1);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

nav {
	margin: 20px auto;
	width: 815px;
	z-index: 90px;
}

nav.pinned {
	top:-80px;
	left: -2px;
	margin: 0 auto;
	width: 100%;
	position: fixed;
	text-align: center;
}

nav.pinned a {
	line-height: 220px;
}

nav a {
	display: inline-block;
	height: 170px;
	width: 170px;
	margin: 0 15px;
	background-color: rgb(38, 38, 34);
	background-color: rgba(38, 38, 34, 1);
	color: rgb(242, 242, 242);
	color: rgba(242, 242, 242, 1);
	line-height: 170px;
	font-size: 2em;
	text-align: center;
	text-decoration: none;
	border-radius: 90px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

nav a:hover {
	background-color: rgb(242, 135, 5);
	background-color: rgba(242, 135, 5, 1);
}

nav a.selected {
	background-color: rgb(242, 135, 5);
	background-color: rgba(242, 135, 5, 1);
}