@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/League_Gothic-webfont.eot');
    src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/League_Gothic-webfont.woff') format('woff'),
         url('fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AftasansRegular';
    src: url('fonts/AftaSansThin-Regular-webfont.eot');
    src: url('fonts/AftaSansThin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/AftaSansThin-Regular-webfont.woff') format('woff'),
         url('fonts/AftaSansThin-Regular-webfont.ttf') format('truetype'),
         url('fonts/AftaSansThin-Regular-webfont.svg#AftasansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

::selection {
	background-color: rgb(242, 135, 5);
	background-color: rgba(242, 135, 5, 1);
	color: rgb(242, 242, 242);
}

body {
	background-color: rgb(138, 140, 132);
	background-color: rgba(138, 140, 132, 1);
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	color: rgb(38, 38, 34);
	color: rgba(38, 38, 34, 1);
}

*{
	margin: 0px;
	padding: 0px;
}

header {
	margin: 30px auto;
	width: 1000px;
}

header section#introduction h1 {
	text-align: center;
	font-size: 8.25em;
	text-shadow: 1px 1px 1px #70736A, 2px 2px 2px #70736A;
}

footer {
	width: 100%;
	background-color: rgb(112, 115, 106);
	background-color: rgba(112, 115, 106, 1);
}

footer div#copyright {
	margin: 20px auto;
	width: 800px;
	text-align: center;
}

footer a:link {
	text-decoration: none;
	color: rgb(242, 242, 242);
	color: rgba(242, 242, 242, 1);
}

footer a:visited {
	text-decoration: none;
	color: rgb(242, 242, 242);
	color: rgba(242, 242, 242, 1);
}

footer a:hover {
	text-decoration: none;
	color: rgb(242, 135, 5);
	color: rgba(242, 135, 5, 1);
}

footer a:active {
	text-decoration: none;
	color: rgb(242, 135, 5);
	color: rgba(242, 135, 5, 1);
}

mark {
	color: rgb(242, 135, 5);
	color: rgba(242, 135, 5, 1);
	background-color: transparent;
	text-shadow: 1px 1px 1px #70736A, 2px 2px 2px #70736A;
}

section#contact {
	margin: 20px auto;
	width: 815px;
}

section#navigation {
	height: 190px;
}

section#contact a.contactIcon {
	display: inline-block;
	height: 170px;
	width: 170px;
	margin: 0 15px;
	border: none;
	background-color: rgb(38, 38, 34);
	background-color: rgba(38, 38, 34, 1);
	color: rgb(242, 242, 242);
	color: rgba(242, 242, 242, 1);
	line-height: 170px;
	font-size: 3em;
	text-align: center;
	text-decoration: none;
	border-radius: 90px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

section#contact a.twitter:hover {
	background-color: rgb(64, 153, 255);
	background-color: rgba(64, 153, 255, 1);
}

section#contact a.github:hover {
	background-color: rgb(15, 154, 214);
	background-color: rgba(65,131,196,1)
}

section#contact a.gplus:hover {
	background-color: rgb(219, 90, 60);
	background-color: rgba(219, 90, 60, 1);
}

section#contact a.email:hover {
	background-color: rgb(242, 135, 5);
	background-color: rgba(7, 184, 60, 1);
}

section#contact img {
	border: 1px solid rgba(112, 115, 106, 1);
	-webkit-box-shadow: 15px 15px 1px 1px rgba(112, 115, 106, 1);
	box-shadow: 15px 15px 1px 1px rgba(112, 115, 106, 1);
}

section#contact section#contactText p{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	font-size: 1.75em;
}

section#contact section#contactButtons {
	margin-top: 20px;
	margin-bottom: 40px;
}

div.highlight {
	background-color: rgb(112, 115, 106);
	background-color: rgba(112, 115, 106, 1);
	color: rgb(1, 28, 38);
	border-top-color: rgb(38, 38, 34);
	border-top-color: rgba(38, 38, 34, 0.1);
	border-top-style: solid;
	border-top-width: 1px;

	border-bottom-color: rgb(38, 38, 34);
	border-bottom-color: rgba(38, 38, 34, 0.1);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

section#portfolio {
	margin: 20px auto;
	width: 900px;
}

section#about {
	margin: 20px auto;
	width: 900px;
}

section#about p {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

section#bio {
	font-size: 1.75em;
}

section h1 {
	font-size: 4em;
	font-family: 'LeagueGothicRegular', Helvetica, sans-serif;
}

nav {
	font-family: 'LeagueGothicRegular', Helvetica, sans-serif;
	margin: 20px auto;
	width: 815px;
	z-index: 90;
}

nav.pinned {
	top:-80px;
	left: -4px;
	margin: 0 auto;
	width: 100%;
	position: fixed;
	text-align: center;
}

nav.pinned a {
	line-height: 220px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(138, 140, 132, 0.8);
	box-shadow: 0px 0px 8px 0px rgb(138, 140, 132);
	box-shadow: 0px 0px 8px 0px rgba(138, 140, 132, 0.8);
}

nav a {
	display: inline-block;
	height: 170px;
	width: 170px;
	margin: 0 15px;
	background-color: rgb(38, 38, 34);
	background-color: rgba(38, 38, 34, 1);
	color: rgb(242, 242, 242);
	color: rgba(242, 242, 242, 1);
	line-height: 170px;
	font-size: 3em;
	text-align: center;
	text-decoration: none;
	border-radius: 90px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

nav a:hover {
	background-color: rgb(242, 135, 5);
	background-color: rgba(242, 135, 5, 1);
}

nav a.selected {
	background-color: rgb(242, 135, 5);
	background-color: rgba(242, 135, 5, 1);
}

/* TileView Section */

.tileView div {
	display: inline-block;
}

.tileView {
	width: 880px;
	margin: 20px auto;
}

/* Parent container for 3D Space */
.tileContainer {
	width: 250px;
	height: 250px;
	margin: 20px;

	/* Set up the 3D space with perspective */
	-webkit-perspective: 800px;
	perspective: 800px;
}

#tile {
	width: 100%;
	height: 100%;

	/* Pass our 3D space to our children (front and back) */
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: 1s;
	transition: transform 1s;
}

#tile .front,
#tile .back {
	width: 100%;
	height: 100%;

	border-radius: 180px;

	/* Set our tiles to the same X and Y position in 3D space */
	position: absolute;

	/* Tell our sides to hide when on the back side */
	-webkit-backface-visibility: hidden;
	backface-visibilty: hidden;
}

#tile .front {
	background-color: rgb(38, 38, 34);
	background-color: rgba(38, 38, 34, 1);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(138, 140, 132);
	text-align: center;
	font-size: 2em;
	color: rgb(242, 242, 242);
	line-height: 240px;
}

#tile .back {
	/* Start with the back already facing back 8 */
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

#tile .back img {
	border-radius: 180px;
}

#tile:hover {

	/* Rotate around the y-axis to display the opposite side */
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

/* End TileView Section */