@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/League_Gothic-webfont.eot');
    src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/League_Gothic-webfont.woff') format('woff'),
         url('fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AftasansRegular';
    src: url('fonts/AftaSansThin-Regular-webfont.eot');
    src: url('fonts/AftaSansThin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/AftaSansThin-Regular-webfont.woff') format('woff'),
         url('fonts/AftaSansThin-Regular-webfont.ttf') format('truetype'),
         url('fonts/AftaSansThin-Regular-webfont.svg#AftasansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

::selection {
	background-color: rgb(242, 135, 5);
	background-color: rgba(242, 135, 5, 1);
	color: rgb(242, 242, 242);
}

body {
	background-color: rgb(138, 140, 132);
	background-color: rgba(138, 140, 132, 1);
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	color: rgb(38, 38, 34);
	color: rgba(38, 38, 34, 1);
}

*{
	margin: 0px;
	padding: 0px;
}

header {
	margin: 30px auto;
	width: 1000px;
}

header section#introduction h1 {
	text-align: center;
	font-size: 8.25em;
	text-shadow: 1px 1px 1px #70736A, 2px 2px 2px #70736A;
}

footer {

}

mark {
	color: rgb(242, 135, 5);
	color: rgba(242, 135, 5, 1);
	background-color: transparent;
	text-shadow: 1px 1px 1px #70736A, 2px 2px 2px #70736A;
}

section#contact {
	width: 100%;
	height: 800px;
	border-color: #FFFFFF;
}

section.highlight {
	background-color: rgb(112, 115, 106);
	background-color: rgba(112, 115, 106, 1);
	color: rgb(1, 28, 38);`
}

section#navigation {
	border-top-color: rgb(38, 38, 34);
	border-top-color: rgba(38, 38, 34, 0.1);
	border-top-style: solid;
	border-top-width: 1px;

	border-bottom-color: rgb(38, 38, 34);
	border-bottom-color: rgba(38, 38, 34, 0.1);
	border-bottom-style: solid;
	border-bottom-width: 1px;

	height: 210px;
}

section#portfolio {
	border-top-color: rgb(38, 38, 34);
	border-top-color: rgba(38, 38, 34, 0.1);
	border-top-style: solid;
	border-top-width: 1px;

	border-bottom-color: rgb(38, 38, 34);
	border-bottom-color: rgba(38, 38, 34, 0.1);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

section#about {
	margin: 20px auto;
	width: 900px;
}

section#about p {
	margin: 20px auto;
}

section#bio {
	font-size: 2em;
}

section h1 {
	font-size: 4em;
	font-family: 'LeagueGothicRegular', Helvetica, sans-serif;
}

nav {
	font-family: 'LeagueGothicRegular', Helvetica, sans-serif;
	margin: 20px auto;
	width: 815px;
	z-index: 90;
}

nav.pinned {
	top:-80px;
	left: -5px;
	margin: 0 auto;
	width: 100%;
	position: fixed;
	text-align: center;
}

nav.pinned a {
	line-height: 220px;
}

nav a {
	display: inline-block;
	height: 170px;
	width: 170px;
	margin: 0 15px;
	background-color: rgb(38, 38, 34);
	background-color: rgba(38, 38, 34, 1);
	color: rgb(242, 242, 242);
	color: rgba(242, 242, 242, 1);
	line-height: 170px;
	font-size: 3em;
	text-align: center;
	text-decoration: none;
	border-radius: 90px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

nav a:hover {
	background-color: rgb(242, 135, 5);
	background-color: rgba(242, 135, 5, 1);
}

nav a.selected {
	background-color: rgb(242, 135, 5);
	background-color: rgba(242, 135, 5, 1);
}

.container {
	width: 250px;
	height: 250px;
	margin: 20px;
	-webkit-perspective: 800px;
	perspective: 800px;
}

#card {
	width: 250px;
	height: 250px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: 1s;
	transition: transform 1s;
}

#card .front,
#card .back {
	position: absolute;
	width: 250px;
	height: 250px;
	-webkit-backface-visibility: hidden;
	backface-visibilty: hidden;
}

#card .front {
	background: red;
}

#card .back {
	background: blue;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

#card:hover {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.tileView div {
	display: inline-block;
}

.tileView {
	width: 880px;
	margin: 20px auto;
}